/*A.calc{color:black;}
A.calc:link,A.calc:visited,A.calc:active,A.calc:hover{text-decoration:none;}*/
div.calcpopup{display:none;position:absolute;border:solid 1px;background-color:white;color:black;padding:5px;}
div.infotip,div.errortip{display:none;position:absolute;font-weight:bold;padding:6px 5px 6px 30px;color:#142946;background-position:2px 50%;background-repeat:no-repeat;max-width:220px;}
div.errortip{background-color: #FFEFEF;border:solid 1px #FFC0C0;background-image:url(../images/error_24.png);}
div.infotip{background-color:#EFF4FF;border:solid 1px #B5D3FF;background-image:url(../images/info_24.png);}
.calcresult{font-weight:bold;color:red;}
table.calc,P.calc{font-weight:normal;font-size:small;font-family:"Comic Sans MS",Arial,sans-serif;}
table.calc{border:1px darkgrey solid;border-collapse:collapse;border-spacing:0;}
td.calcleft,td.calccenter{padding-left:5px;padding-top:2px;padding-bottom:2px;padding-right:5px;border:1px darkgrey solid;;}
td.calcleft{text-align:left;}
td.calccenter{text-align:center;}