.text {font-family: arial, helvetica, sans-serif; color: #000000;background:#FFFFFF;background-image: none }

h1 {color: #000000;font-weight: bold;text-transform: uppercase;font-size: 150%;background:#FFFFFF;text-decoration:underline	;background-image: none }
h2 {color: #000000;font-weight: bold;font-size: 125%;background:#FFFFFF;background-image: none }
h3 {color: #000000;text-decoration: underline;font-size: 110%;background:#FFFFFF;background-image: none }
p {color: #000000;margin-left: 5mm;background:#FFFFFF;background-image: none }

.articletitle { font-size: 150%; font-weight: bold; color: #000000;background:#FFFFFF;background-image: none}

/* call-out text */
div.dotted {border-style: dotted;background:#FFFFFF;color:#000000;background-image: none ;margin-left:10px}
div.dashed {border-style: dashed;background:#FFFFFF;color:#000000;background-image: none ;margin-left:10px}
div.callout {border-left: medium dashed #000000;background:#FFFFFF;color:#000000;background-image: none  ;margin-left:20px;padding-left:20px}

/* left sidebar div */
div.leftside {position: relative; float: left; border-style:dotted; background-color: #ffffff; color: #000000; width: 25em; margin-right: 2mm; margin-bottom: 5px; padding-left: 1mm; padding-right: 2mm; font-size: 70%;}
.leftside p {font-size: 100%}
.leftside li {font-size: 100%}

/* right sidebar div */
div.rightside {position: relative; float: right; border-style:dotted; background-color: #ffffff; color: #000000; width: 25em; margin-right: 2mm; margin-bottom: 5px; padding-left: 2mm; padding-right: 1mm; font-size: 70%;}
.rightside p {font-size: 100%}
.rightside li {font-size: 100%}


/* image table styles */
/*
td.tnail {background:#FFFFFF;vertical-align:top;text-align:center;color:#000000;font-size:75%;padding-top: 4px;padding-bottom: 10px;padding-left: 4px;padding-right: 4px;;background-image: none }
table.tnail {background:#FFFFFF;margin-left: auto;margin-right: auto; width:400px;text-align:left;color:#000000;border-style:dashed;background-image: none }
*/
td.tnailtxt,td.tnailimg {background:#FFFFFF;vertical-align:top;text-align:center;color:#000000;font-size:75%;padding-top: 3px;padding-bottom: 4px;padding-left: 4px;padding-right: 4px;}
table.tnail {background:#FFFFFF;margin-left: auto;margin-right: auto; text-align:left;color:#000000;border-style:dashed;width:200px }

/* spec table */
td.speckeyword{background:#FFFFFF;vertical-align:top;color:#000000;font-size:75%;padding-top: 2px;padding-bottom:2px;padding-left: 2px;padding-right: 2px;;background-image: none }
td.specvalue{background:#FFFFFF;vertical-align:top;color:#000000;font-size:75%;padding-top: 2px;padding-bottom:2px;padding-left: 2px;padding-right: 2px;;background-image: none }
table.spec{background:#FFFFFF;width:220px;text-align:left;color:#000000;border-style:dotted;background-image: none }

/* video table styles */
td.video-top-outer {background-image: url(/articles/templates/files/topltbg.gif);}
td.video-bottom-outer {background-image: url(/articles/templates/files/botrtbg1.gif);}

.videocaption {color: #000000; font-family: Verdana,Arial,helvetica,sans-serif; font-size: 80%;  font-weight: bolder;}
table.video-inner {background-color: #CCCCCC; width: 100%; border-spacing: 1px; }
tr.videorow {background-color: #EEEEEE; }
.videoheader {font-family: Verdana,Arial,helvetica,sans-serif; font-size: 65%;  font-weight: bolder; padding: 5px 5px 5px 5px; }
.videocell {font-family: Verdana,Arial,helvetica,sans-serif; font-size: 80%; padding: 5px 5px 5px 5px; }

A.video:link {color:#006699; text-decoration: none;}
A.video:visited, active {color:#006699; text-decoration: none;} 
A.video:hover {color:#FF6600; text-decoration: underline;}
A.video {text-decoration: none;}

/* centering hack for ie... */
.center
{ 
text-align: center;
}
