.Body {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Header {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing:    -0.04em;
    line-height: 46px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: #262626;
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_6 {
    font-style: italic;
    font-weight: bold;
}
.paragraph_style_7 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_7 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', 'Times New Roman Bold', serif;
    font-weight: bold;
}
.paragraph_style_8 {
    color: #262626;
    font-family: 'Times-Roman', 'Times', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 23px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_9 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_10 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_11 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_External_592_62 {
    position: relative;
}
.style_4 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
}
.style {
    padding: 4px;
}
.paragraph_style_1 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style {
    color: #000000;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing:    -0.04em;
    line-height: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_1 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
}
.paragraph_style_2 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    float: right;
    margin: 0px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 0px;
    margin-top: 12px;
    opacity: 1.00;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.style_2 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', 'Times New Roman Bold', serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
}
.paragraph_style_3 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    font-family: 'TimesNewRomanPS-BoldMT', 'Times New Roman', 'Times New Roman Bold', serif;
    font-style: italic;
    font-weight: bold;
}
.style_5 {
    font-family: 'TimesNewRomanPSMT', 'Times New Roman', serif;
    font-size: 66%;
    font-style: italic;
    font-weight: bold;
    vertical-align: -0.25em;
}
.paragraph_style_4 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: justify;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_5 {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_3 {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.Normal {
    padding: 4px;
}
.Normal_External_592_62 {
    position: relative;
}
.Title {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 11px;
    padding-top: 22px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_617_2628 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_592_265 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: #0000ff;
    text-decoration: underline;
}
a:visited {
    color: #990066;
    text-decoration: underline;
}
a.class1 {
    color: #0000ff;
    text-decoration: underline;
}
a.class1:visited {
    color: #990066;
}
a.class1:hover {
    color: #0000ff;
    text-decoration: underline;
}
a:hover {
    color: #0000ff;
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
#widget1 a {
    color: #0000ff;
    text-decoration: underline;
}
#widget1 a:visited {
    color: #990066;
    text-decoration: underline;
}
#widget0 a:visited {
    color: #990066;
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
#widget1 a:hover {
    color: #0000ff;
    text-decoration: underline;
}
#widget0 a:hover {
    color: #0000ff;
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
#widget0 a {
    color: #0000ff;
    text-decoration: underline;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
